.timerWrapper {
  padding: 4px 4px 2px 4px;
  margin: 0 0 4px 0;
  border: 1px solid var(--color-grey-dark);
}

.timer {
  font-size: var(--index);
  line-height: calc(var(--index) * 0.9);
  height: var(--index);
}

.over {
  color: var(--color-red);
}