.submitButton {
  --height: max(25px, calc(var(--index) * 1.1));
  height: var(--height);
  width: calc(var(--height) * 4);
  cursor: pointer;
  color: var(--color-grey-light);
  font-size: max(12px, calc(var(--index) * 0.7));
  background: var(--color-red);
  border: none;
  padding: 4px;
}
.submitButton:hover {
  scale: 1.01;
}
.submitButton:active {
  scale: 1;
}

.disabled {
  background: var(--color-grey-light);
  color: var(--color-grey-dark);
  cursor: default;
}
.disabled:hover {
  scale: 1;
}